


<section id="Coffee-info">
    {% for bannergreen_collectionee in component.bannergreencollection %}
    <div class="ezdan-coffee-info-wrapper green-arrived position-relative"  style="background-image:url('{{bannergreen_collectionee.bannergreenimage}}') ">
    
      <div class="container">
        <div class="ezdan-coffee-content">
          <h2>{{bannergreen_collectionee.bannergreenstring}}</h2>
          
          <h3> {{bannergreen_collectionee.bannergreenstring2}}</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="ezdan-cis green"></div>
    </div> {% endfor %}
  </section>
