



<section id="Coffee-info">
    {% for bannerorange_collectione in component.BannerOrangecollection %}
    <div class="ezdan-coffee-info-wrapper position-relative"  style="background-image:url('{{bannerorange_collectione.bannerorangeimage}}') ">
      <div class="ezdan-soudi-coffee-arrow">
        <img
          src="{{bannerorange_collectione.bannerorangeimage_1}}"
          alt="arrow-down-icon"
        />
      </div>
      <div class="container">
        <div class="ezdan-coffee-content">
          <h2>{{bannerorange_collectione.bannerorangestring}}</h2>
          
          <h3> {{bannerorange_collectione.bannerorangestring_1}}</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="ezdan-cis"></div>
    </div> {% endfor %}
  </section>
